h1{
    background-color: rgb(195, 187, 220);
    text-align: center;
    text-shadow: 2px 3px 2px #715DAC;
    font-family: Arial, Helvetica, sans-serif;

}
h2{
    background-color: rgb(195, 187, 220);
    text-align: center;
}
h4{
    padding-left: 20px;
}
 .container{
    background-color: antiquewhite;
    height:1030px;
    padding-left: 20px solid black;
    padding-right: 20px solid black;
    
} 
 #bio{
    text-align: center;
} 
q{
    padding-left: 45px;
}
#ac{
    padding-left: 45px;
    
}
 img{
    height: 270px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
 
} 
figcaption{
    text-align: center;
}
.border{
    border: 2px solid black;
    width:220px;
    height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
      
}
html{
    scroll-behavior: smooth;
}